<!-- Global Section -->
<p-toast></p-toast>

<div class="loading-indicator" *ngIf="ProgressSpinnerDlg">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
        animationDuration=".5s"></p-progressSpinner>
</div>
<!-- GLobal Seection -->

<!-- mega menu (starts)-->
<p-toolbar>
    <div class="p-toolbar-group-start">
        <p-button icon="pi pi-chevron-left" styleClass="p-mr-2 p-button-refresh p-button-outlined p-button-secondary"
            (click)="back_to_previous_page()"></p-button>
    </div>
    <div class="p-toolbar-group-end">
        <p-button icon="pi pi-refresh" styleClass="p-button-refresh p-button-outlined p-button-secondary"
            (click)="refreshTable()"></p-button>
    </div>
</p-toolbar>
<!-- mega menu (ends) -->

<!--  main content (starts) -->
<div class="p-fluid mt-3" style="width: 100%">
    <p-panel class="p-0" header="Register New User">
        <form [formGroup]="user_register_form">
            <div class="p-col-12">
                <div class="grid m-0">
                    <div class="col-12 sm:col-6 lg:col-3 xl:col-3 p-3">
                        <span class="p-float-label">
                            <input type="text" id="firstname" pInputText formControlName="firstname">
                            <label for="firstname">First Name</label>
                        </span>
                    </div>
                    <div class="col-12 sm:col-6 lg:col-3 xl:col-3 p-3">
                        <span class="p-float-label">
                            <input type="text" id="lastname" pInputText formControlName="lastname">
                            <label for="lastname">Last Name</label>
                        </span>
                    </div>
                    <div class="col-12 sm:col-6 lg:col-3 xl:col-3 p-3">
                        <span class="p-float-label">
                            <input type="email" id="email" pInputText formControlName="email" required>
                            <label for="email">Email</label>
                        </span>
                    </div>
                    <div class="col-12 sm:col-6 lg:col-3 xl:col-3 p-3">
                        <span class="p-float-label">
                            <input pInputText id="mobileNo" type="number" class="w-full" pattern=".{10}" required
                                formControlName="mobile_no" minlength="10" maxlength="10">
                            <label for="mobile_no">Mobile Number</label>
                        </span>
                    </div>
                    <div class="col-12 sm:col-6 lg:col-3 xl:col-3 p-3">
                        <span class="p-float-label">
                            <input id="password" type="password" pInputText formControlName="password" class="w-full"
                                pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$">
                            <label for="password">Password</label>
                        </span>
                    </div>
                    <div class="col-12 sm:col-6 lg:col-3 xl:col-3 p-3">
                        <span class="p-float-label">
                            <input type="password" id="confirmpassword" pInputText formControlName="confirmpassword">
                            <label for="confirmpassword">Confirm Password</label>
                        </span>
                    </div>
                    <div class="col-12 sm:col-6 lg:col-3 xl:col-3 p-3">
                        <span class="p-float-label">
                            <input type="text" id="country_name" pInputText formControlName="country_name"
                                (input)="onCountrySelect($event)">
                            <label for="country">Country</label>
                        </span>
                    </div>
                    <div class="col-12 sm:col-6 lg:col-3 xl:col-3 p-3" *ngIf="role_details">
                        <span class="p-float-label">
                            <p-dropdown inputId="role_list" [autoDisplayFirst]="false" [options]="roles_list"
                                (onChange)="onRoleChange($event)" formControlName="role_list"></p-dropdown>
                            <label for="role_list">Role</label>
                        </span>
                    </div>
                    <div class="col flex justify-content-end text-align-end p-3" *ngIf="role_details">
                        <h6></h6>
                        <p-button pRipple icon="pi pi-plus" label="Create" styleClass="p-button-success"
                            (click)="register_user()"></p-button>
                    </div>
                </div>
            </div>
        </form>
    </p-panel>
</div>
<!--  main content (ends) -->