<!-- Toast section -->
<p-toast></p-toast>

<div class="loading-indicator" *ngIf="ProgressSpinnerDlg">
    <p-progressSpinner [style]="{width: '50px', height: '50px'}" styleClass="custom-spinner" strokeWidth="8"
        fill="#EEEEEE" animationDuration=".5s"></p-progressSpinner>
</div>
<!-- Toast section -->

<div style="background: url(../../../../../assets/images/bg-2.png) no-repeat; height: 100vh; width: auto;"
    class="min-h-screen justify-content-center align-items-center bg-cover bg-center px-4 py-8 md:px-6 lg:px-8">
    <div class="px-4 py-8 md:px-6 lg:px-8 flex align-items-center justify-content-center">
        <div class="surface-card p-4 shadow-2 border-round w-full lg:w-5 my-2 relative">
            <div class="text-center mb-3">
                <img [src]="img_url" alt="Image" height="70" class="mb-3">
                <div class="text-900 text-3xl font-semibold mb-2">Reset Password</div>
                <span class="text-600 font-medium line-height-3">To reset your password, <br> Enter the <b> Temporary
                        Password </b> sent to your email address.</span>
            </div>

            <form [formGroup]="reset_pass_form">
                <span class="p-input-icon-left w-full mb-3">
                    <i class="fa-duotone fa-lock-keyhole"></i>
                    <input type="password" id="tempPassword" pInputText placeholder="Temporary Password"
                        formControlName="temp_password" class="w-full" autofocus>
                </span>
                <span class="p-input-icon-left w-full mb-3">
                    <i class="fa-duotone fa-lock-keyhole"></i>
                    <input type="password" id="newPassword" pInputText placeholder="New Password"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                        formControlName="new_password" class="w-full">
                </span>
                <span class="p-input-icon-left w-full mb-3">
                    <i class="fa-duotone fa-lock-keyhole"></i>
                    <input type="password" id="confirmPassword" pInputText placeholder="Confirm Password"
                        pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{8,}$"
                        formControlName="confirm_password" class="w-full">
                </span>
                <div class="flex gap-3 w-full">
                    <button pButton pRipple label="CANCEL" class="flex-auto p-button-outlined"
                        [routerLink]="['/']"></button>
                    <button pButton pRipple label="SUBMIT" class="flex-auto" (click)="reset_pass()"></button>
                </div>
            </form>
        </div>
    </div>
</div>